<%- include('inc/header') -%>
<%- include('inc/leftbar') -%>

<hr class="my-5">
<div class="row">
  <div class="col-12">
    <div class="card">
           <!-- Alert for success message -->  
           

          
      <% if(message.success) {%>
        <div class="card-body">
          <div class="alert alert-success alert-dismissible" role="alert"> <%= message.success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>  
      <% }%> 
        <div class="card-datatable table-responsive">
          <table id="example" class="table table-striped" style="width:100%">
            <thead>
              <tr> 
                <th>Sort No.</th>
                <th>Title</th>
                <th>Created Date</th>
                <th>Updated Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
                <% if (data && data.length > 0) { %>
              <% data.forEach(function(category, index) { %>
                <tr> 
                  <td><%= category.sort || '' %></td> 
                  <td><%= category.title || '' %></td>
                  <td><%= (category.created_at) ? new Date(category.created_at).toLocaleString() : '' %></td>
                  <td><%= (category.updated_at) ? new Date(category.updated_at).toLocaleString() : '' %></td>
                  
                  <td>
                    <a href="/adm/categoryEdt/<%= category.id || '' %>">
                      <button type="button" class="btn btn-warning">Edit</button>
                    </a>
                  </td>
                  <td>
                    <a href="/adm/categoryDlt/<%= category.id || '' %>" onclick="return confirm('Are you sure?')">
                      <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                  </td>
                </tr>
              <% }); %>
              <% } %>
            </tbody>
          </table>
        </div>
 
    </div>
  </div>
</div>

<%- include('inc/footer') -%>
