 

  <%- include('inc/header') -%> 
  <%- include('inc/leftbar') -%>

  <style>
    img {
	width: 160px;
	background: #696cff;
	padding: 9px;
}
</style>
<div class="row">
  <div class="col-12">
    <div class="card"> 

      <% if(message.success) {%>
        <div class="card-body">
          <div class="alert alert-success alert-dismissible" role="alert"> <%= message.success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>  
      <% }%> 
      <div class="card-body"> 
          <form method="POST" action="/adm/settings" class="row g-3"  enctype="multipartform-data"/ >   
       
          <div class="col-md-4">
            <label class="form-label" >Phone</label>
            <input class="form-control" type="text" value="<%= data[0].phone  %>" name="phone"> 
        </div>
          <div class="col-md-4">
            <label class="form-label" >Email</label>
            <input class="form-control" type="text" value="<%= data[0].email  %>" name="email" > 
        </div> 
       <div class="col-md-12">
         <label class="form-label" >Address </label> 
         <textarea  class="form-control" name="address" ><%= data[0].address  %></textarea> 
      </div>

          <div class="col-12">
            <button type="submit" name="submitButton" class="btn btn-primary">Submit </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr class="my-5">

  <%- include('inc/footer') -%> 